.titleNav{
  font-size: 3.5em;
}

.itemText{
  font-size: 2vw;
}

.itemWrapper{
  padding-top: 3em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  width: 25vw;
  height: 25vw;
}

.addButton{
  top : 9.5vw;
  position: relative;
}

.containerAdd{
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton{
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}
