@import '../node_modules/muicss/lib/sass/mui/_colors.scss';

// customize MUI variables
$mui-primary-color:       #9E9E9E;
$mui-primary-color-dark:  #616161;
$mui-primary-color-light: #F5F5F5;
$mui-accent-color:        #009de4;
$mui-body-bg-color:       #616161;

// import MUI SASS
@import '../node_modules/muicss/lib/sass/mui';


html, body {
	display: flex;
    align-content: center;
    height: 100%;
	width: 100%;
	background: url(../img/footer_lodyas.png) repeat 0 0;
}

#container {
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
	min-width: 80%;
    max-width: 80%;
    min-height: 80%;
	max-height: 90%;
    margin-top: 6%;
    margin: 2em auto 0 auto;
}

.draggable {
	position: absolute;
		align-content: center;
	display: block;
	padding: 0.5em;
	background-color: $mui-primary-color-dark;
    box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
	border-radius: 0.5em;
}

.dButton {
	margin-left: 5px;
	float: right;
	color: $mui-primary-color-light;
	z-index: 0;
}

#newToteBtn {
	z-index: 0;
}

.dText {
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
	color: $mui-primary-color-light;
}

#searchBarPanel {
	width: 10%;
	max-height: 90%;
	margin: 2em auto 2em auto;
}

#overlay {
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
}

input {
	border: none;
}

#contentsModal {
	width: 60%;
	height: 60%;
	top: 20%;
	left: 20%;
	position: absolute;
	z-index: 1;
}

#modalList {
	height: 65%;
	width: 80%;
	left: 10%;
	display: flex;
	flex-direction: column;
	display: -webkit-flex;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
}

#modalList li {

}

*:focus {
    outline: none;
}
